# Node & Dependencies
node_modules/
npm-debug.*

# Expo
.expo/
dist/
web-build/

# Native builds
/android/
/ios/
*.orig.*

# Environment
.env
.env.local
.env.*.local

#Logs
*.log

# macOS & Editor
.DS_Store
*.pem
.idea/
.vscode/
*.iml

# TypeScript
*.tsbuildinfo
